body {
  color: tomato;
}

.timeOfTheDay {
  background-image: url(./assets/langit2.png);
  border-radius: 10px;
  background-repeat: repeat-x;
  background-size: 14400px;
}

.login {
    background-image: url(https://thumbs.dreamstime.com/b/alien-planet-landscape-space-game-background-alien-planet-landscape-space-game-background-vector-cartoon-fantasy-199231059.jpg);
    background-size: cover;
}